<!--String interpolation example-->
<h2 [align]="align_value">{{projectName}}</h2>
<!--Property binding example-->
<img [src] = "angular_image_src"><br>
<!--Event binding example-->
<button id="eventButton" (click) = showAlert()>Event Binding example</button><br>
<!--Two way binding example-->
Change Project: <input type = "text" [(ngModel)] = "projectName"><br>
<!--Two way binding example-->
Enter side value to calculate area: <input type = "text" [(ngModel)] = "sideLength"><br>
<p>Area of square with {{sideLength}} is {{sideLength | Area}}</p>
<router-outlet></router-outlet>
